<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>

    <!-- USERNAME -->
    <input type='text'ng-model='user.username' name="username" ng-minlength="3" ng-maxlength="10" required>
    <span ng-show="signupForm.username.$error.minlength">Username is too short.</span>
    <span ng-show="signupForm.username.$error.maxlength">Username is too long.</span>

    <!-- PASSWORD -->
    <input type="password" ng-model='user.password' name="password" ng-minlength="6" ng-maxlength="13" required>
    <span ng-show="signupForm.password.$error.minlength">Password is too short.</span>
    <span ng-show="signupForm.password.$error.maxlength">Password is too long.</span>

    <button ng-disabled='signupForm.$invalid'>signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>signin</strong> ...</a>
</div>